/* Thank you https://colorgradient.dev/ */
.background {
  position: absolute;
  left: 0;
  right: 0;
}
.backgroundGradientTop {
  top: 0;
  bottom: 20%;
  /* background-size: 100% 100%; */
  background-size:1200px 100% ;
  background-repeat: no-repeat;
  /* background-position: 0px 0px,0px 0px,0px 0px; */
  background-position: center;
  background-image: radial-gradient(25% 28% at 68% -8%, #8064C96E 0%, #8064C900 100%),radial-gradient(30% 25% at 34% -3%, #62cb7143 0%, #62cb7100 100%),radial-gradient(25% 21% at 48% 7%, #5A7DD36E 0%, #5A7DD300 100%);
}
.backgroundGradientBottom {
  bottom: 0;
  top: 20%;
  /* background-size: 100% 100%; */
  background-size:1200px 100% ;
  background-repeat: no-repeat;
  /* background-position: 0px 0px,0px 0px,0px 0px; */
  background-position: center;
  background-image: radial-gradient(25% 28% at 30% 105%, #8064C96E 0%, #8064C900 100%),radial-gradient(30% 25% at 71% 100%, #62cb7143 0%, #62cb7100 100%),radial-gradient(25% 21% at 51% 95%, #5A7DD36E 0%, #5A7DD300 100%);}